<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon-96x96.png ') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='apple-icon-180x180.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">

<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
</head>
<body>
    <img src="{{ user_image }}" alt="User Image">
</body>
</html>